
#menu {
  background-color:rgb(6, 8, 51);
  display: flex;
  color: white
}

#menu-links {
  display: flex;
  justify-content: center;
  align-items: center;
}
#menu-links a {
  padding-right: 0.5em;
  color: darkblue;
  text-decoration: underline;
  cursor: pointer;
}
button.DocSpot-button{
  position: relative;
  top:50px;
  left: 10px;
  border-radius: 1%;
}